<% if @room.errors.any? %>
<ul>
  <% @room.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>
<% if session[:user_id] == @user.id %>
  <h1>Hi, <%= @user.username %></h1>
  <h4><%= link_to "Browse Topics", topics_path %></h4>

  <% if @room.errors.any? %>
  <ul>
    <% @room.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

  <%= form_for @room do |f| %>
    <%= f.label 'Topics:' %>
    <%= f.select :topic_id, Topic.all.map {|element| [element.name, element.id, name: element.name]} %>
    <br><br>
    <%= f.label 'Room Name:' %>
    <%= f.text_field :name %>
    <br><br>
    <%= f.submit 'Create a Room' %>
  <% end %>
  <br>
  <h2>Your Room List:</h2>
  <% if @user.rooms.empty? %>
    You have not joined any rooms!
    <br>
  <% else %>
    <ul>
      <% @user.rooms.each do |room| %>
        <li><%= link_to room.name, room_path(room) %></li>
      <% end %>
    <% end %>
  </ul>
  <br>
  <%= link_to 'Edit Your Account', edit_user_path(@user) %>
  <br><br>
  <%= link_to 'See Site Statistics', '/statistics' %>
  <br><br>
  <%= button_to 'Logout', '/logout' %>
<% else %>
  <h1><%= @user.username %>'s Profile</h1>
  <h2>Their Room List:</h2>
  <% if @user.rooms.empty? %>
    The user does not belong to any rooms!
  <% else %>
    <ul>
      <% @user.rooms.each do |room| %>
        <li><%= link_to room.name, room_path(room) %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
