<% if session[:user_id] == @user.id %>
  <h1>Hi, <%= @user.username %></h1>
  <h3><%= link_to "Browse Topics", topics_path %></h3>

  <%= form_for @room do |f| %>
    <%= f.label 'Topics:' %>
    <%= f.select :topic_id, Topic.all.map {|element| [element.name, element.id]} %>
    <br><br>
    <%= f.label 'Room Name' %>
    <%= f.text_field :name %>
    <br><br>
    <%= f.submit 'Create a Room' %>
  <% end %>
  <br>
  <h2>Your Room List:</h2>
  <ul>
    <% if @user.rooms.empty? %>
      You have not joined any rooms!
    <% else %>
      <% @user.rooms.each do |room| %>
        <li><%= link_to room.name, room_path(room) %></li>
      <% end %>
    <% end %>
  </ul>
  <br>
  <%= link_to 'Edit Your Account', edit_user_path(@user) %>
  <br><br>
  <%= button_to 'Logout', '/logout' %>
<% else %>
  <h1><%= @user.username %>'s Profile</h1>
  <h2>Their Room List:</h2>
  <ul>
    <% @user.rooms.each do |room| %>
      <li><%= link_to room.name, room_path(room) %></li>
    <% end %>
  </ul>
<% end %>
