<!DOCTYPE html>
<html>
  <head>
    <title>Topick</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Coming+Soon|Courgette" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
